<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Add Event</title>
</head>
<body> 
  <h1>Please add an event</h1>
  <form action="/SaveEvent" method="POST">
    <label for="title">Title:</label>
    <input type="text" id="title" name="title" required>

    <label for="date">Date:</label><br>
    <input type="date" id="date" name="date" required>

    <label for="location">Location:</label><br>
    <input type="text" id="location" name="location" required>

    <label for="category">Category:</label>
    <select id="category-select" name="category-dropdown" required>
      <option value="">Select category...</option>
      {% for category in categories %}
        <option value="{{ category }}">{{ category }}</option>
      {% endfor %}
      <option value="new">+ Add New Category</option>
    </select>
    <input type="text" id="new-category-input" name="category" style="display:none;" placeholder="Enter new category">
    

    <label for="description">Description:</label>
    <textarea id="description" name="description" rows="4" cols="50" placeholder="Enter event description..." required></textarea><br><br>

    <button type="button" onclick="window.location.href='/'">Cancel</button>
    <button type="submit">Submit</button>
  </form>

  <script>
    document.getElementById('category-select').addEventListener('change', function() {
      if (this.value === 'new') {
        document.getElementById('new-category-input').style.display = 'block';
      } else {
        document.getElementById('new-category-input').style.display = 'none';
      }
    });
  </script>
</body>
</html> 