<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Edit Member</title>
</head>
<body> 
  <h1>Member Editor</h1>
  <form action="/UpdateMember" method="POST">
    <input type="hidden" name="id" value="{{ member.id }}">
    
    <label for="name">Name:</label><br>
    <input type="text" id="name" name="name" value="{{ member.name }}" required><br><br>

    <label for="section">Section:</label><br>
    <input type="text" id="section" name="section" value="{{ member.section }}" required><br><br>

    <label for="facebook">Facebook:</label><br>
    <input type="text" id="facebook" name="facebook" value="{{ member.facebook }}" required><br><br>

    <button type="button" onclick="window.location.href='/'" class="edit-button-page">Cancel</button>
    <button type="submit" class="edit-button-page">Save Changes</button>
    <button type="button" onclick="if(confirm('Are you sure?')) window.location.href='/DeleteMember/{{ member.id }}'" class="edit-button-page">Delete Member</button>
  </form>
</body>
</html>